<!--
  Generated template for the BattlePhaseContPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>BattlePhase-cont</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="text-align: center" *ngIf="player && area">
  <ion-grid>
    <ion-row style="margin: auto">
      <h3>The enemy fought with {{results.botDiceAmount}} troops</h3>
    </ion-row>
    <ion-row style="margin: auto; background-color:gray">
      <ion-column>
        <img [src]="imgSrc_Bot[0]" style="width:64px;">
      </ion-column>
      <ion-column *ngIf="imgSrc_Bot[1]">
        <img [src]="imgSrc_Bot[1]" style="width:64px;">
      </ion-column>
    </ion-row>
    <ion-row style="margin: auto">
      <h3>You fought with {{results.playerDiceAmount}} troops</h3>
    </ion-row>
    <ion-row style="margin: auto; background-color:gray">
      <ion-column>
          <img [src]="imgSrc_Player[0]" style="width:64px;">
      </ion-column>
      <ion-column>
          <img [src]="imgSrc_Player[1]" *ngIf="imgSrc_Player[1]" style="width:64px;">
      </ion-column>
      <ion-column>
          <img [src]="imgSrc_Player[2]" *ngIf="imgSrc_Player[2]" style="width:64px;">
      </ion-column>
    </ion-row>
    <ion-row style="margin: auto">
      <h3>You have {{battleResults[0]}} troops remaining. The enemy has {{battleResults[1]}} troops remaining</h3>
    </ion-row>
    <ion-row style="margin: auto">
      <h3>You have {{player.playerTroops}} troops remaining.</h3>
      <h3>The area you attacked has {{area.defendingTroops}} troops remaining</h3>
    </ion-row>
    <ion-row style="margin: auto" *ngIf="area.defendingTroops <= 0">
      <button ion-button [color]="danger" (click)="CaptureArea()">Capture</button>
    </ion-row>
  </ion-grid>
</ion-content>