<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <input type="text" class="form-control" [(ngModel)]="Search">

  <button
  ion-button
  block
  color="primary"
  *ngIf="auth.loggedIn"   
  (click)="Check()">get token</button>

 <div *ngIf="PlayerData">

<h2>{{PlayerData.PlayerUsername}}</h2>
     
 </div>
<h2>test</h2>
    <button
      ion-button
      block
      color="primary"
      *ngIf="auth.loggedIn"  
      (click)="Check2()">SendApi</button>

      <button
      ion-button
      block
      color="primary"
      *ngIf="auth.loggedIn"  
      (click)="Check3()">s</button>
</ion-content>
