<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>TeamView</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding class="teamView">
  <!-- <button ion-button block color="primary" (click)="Check()">Get Teams</button>  --> 

    <div class="Teams" *ngIf="teamsInfo"> 
        <tr *ngFor="let data of teamsInfo"> 
            <td> <h2>Team </h2> {{data.teamColor}}</td>
            <td><h2>Areas</h2> {{data.teamTotalOccupiedAreas}}</td>
            <td><h2>Players</h2>{{data.players.length}} </td>
        </tr>
    </div>
    <img class="fotoTeams"  src='../../assets/imgs/teams.png' alt="foto troops">
</ion-content>