.army{
    background-image: url("https://images0.pixlis.com/background-image-checkers-chequered-checkered-squares-seamless-tileable-rock-dark-spring-green-2368js.png")
}

.fotoTroops{
    height: 130px;
    width: 150px;
    float: right;
    margin-top: -50px;
}