.army{
    background: url("../../assets/imgs/12.png") repeat;
    color: lightgray;
    
}

.fotoTroops{
    height: 130px;
    width: 150px;
    float: right;
    margin-top: -50px;
}

.ng-progress {
    margin-top: 238px, 
    
}

.Troops{
    margin-top: 170px;
}
.container{
    margin-top: 180px;
}
