<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <p *ngIf="auth.loading" text-center>Loading...</p>
  <ng-template [ngIf]="!auth.loading">
    <!-- Not loading, not logged in: show login button -->
    <button ion-button block color="primary" *ngIf="!auth.loggedIn" (click)="auth.login()">Log In</button>
    <!-- Not loading, logged in: show profile and logout button -->
    <ng-template [ngIf]="auth.loggedIn">
      <ion-card *ngIf="auth.user">
        <img [src]="auth.user.picture">
        <ion-card-content>
          <ion-card-title>{{ auth.user.name }}</ion-card-title>
          <pre>{{ auth.user | json }}</pre>
        </ion-card-content>
      </ion-card>
      <div class="container">
        <h2>Welcome</h2>
        <button ion-button block color="light" *ngIf="auth.loggedIn" (click)="Go2App()">Enter Risk Antwerp</button>
        <button ion-button block color="dark" *ngIf="auth.loggedIn" (click)="auth.logout()">Log Out</button>
      </div>
    </ng-template>
  </ng-template>
</ion-content>